# Twitter credentials
TWITTER_USERNAME=your_account
TWITTER_PASSWORD=your_password
TWITTER_EMAIL=your_email

# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/twitter_indexer

# Telegram
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID= # no use
ALERTS_ENABLED=false

# API
API_KEY=your_secret_key
API_PORT=3000
